@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
  --med-padding: 20px;
  --header-height: 95px;
  --brand-primary-400: #ffdc16;
  --brand-black: #46413f;
  --brand-font: "Comfortaa";
}
